{% load static %}
<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__contacts">


        <div class="footer__contact">
          <p class="footer__contact-title footer__contact-title-phone" style = "color: #a90c04">
            телефон
          </p>
          <a href="tel:+79999999999" class="footer__phone-link"
            >+ 7 (999) 999-99-99</a
          >

        </div>
      </div>
    </div>

    <p class="footer__law">&copy; ООО KOLOSS</p>
  </div>
</footer>